@font-face {font-family: 'Carisma-Light';src: url('Fonts/245754_0_0.eot');src: url('Fonts/245754_0_0.eot?#iefix') format('embedded-opentype'),url('Fonts/245754_0_0.woff') format('woff'),url('Fonts/245754_0_0.ttf') format('truetype');}

body {
	background: #7f7969;
	color: #e8e8e8;
}

.menu {
	font-family: 'Carisma-Light';
	margin-top:90px;
	font-size:16px;
	font-weight: bold;
	/*float: right;*/
}



#header {
	border-bottom:2px solid #222;
	height:150px;
	background-color: #000;
}

.scroller {
	height:460px;
	width:100%;
	background: url(../img/barra.jpg) no-repeat ;
}

.seccion {
	border-top: 1px solid #222;
	margin-top:10px;
}

.seccion h2 {
	font-family: 'Carisma-Light';
	font-size:18px;	
}


h1 {
		font-family: 'Carisma-Light';
		font-size:42px;
		/*background: #990100;*/
}

#footer {
	border-top:2px solid #222;
	height:150px;
	background-color: #333;
  margin-top:50px;
}


.foto img {
   padding:10px;
   border:1px solid #7f7969;
   background-color:#fff;
   margin-top:10px;
   margin-bottom:10px;
}



.ingredientes h4 {
    font-style: italic;
    margin:0;
}


.ingredientes ul {
    margin: 0;
}
.ingredientes li {
    list-style: none;
    margin:0;
}

.instrucciones {
    margin-top:20px;
}

.instrucciones h4 {
    font-style: italic;
    font-family: 'Carisma-Light';
    background: #990100;
    color: #e8e8e8;
}


.caja, .info, .ingredientes, .caja-peque {
  background: #f6f6f6;
    color:#333;
}



.ingredientes, .elaboracion {
      padding-bottom: 20px;
      margin: 0;

}

.info {

  color:#333;

  text-align: left;
  padding: 10px;
}

.caja {
    margin-top:20px;
    /*margin-left:0;*/
    margin-bottom: 20px;
    padding:0;
    padding-bottom: 30px;

    text-align: center;

    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;  
    font-size:14px;

    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 5px 5px 2px #333;    



}

.linea {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-top:10px;
}


.encabezado {
  /*background: #333;*/
  color:#f6f6f6;
  font-family: 'Lobster Two';
  font-style: italic;
}



.caja h1 {

    font-family: 'Lobster Two';
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0px;
}


.caja h3{
  font-family: 'Lobster Two';
  font-style: italic;
    color:#333;
}

.crop { width: 210px; height: 150px; overflow: hidden; }
.crop img { width: 200px; height: 150px; margin: 10px 0 10px 10px; }

.caja-coctel-aleatorio {
  margin: 0;

}

.tag-cloud {

  margin: 0;
  margin-top:20px;
  background: #F6F6F6;
  padding-top:5px;
  padding-bottom: 5px;
}

.titular {
    padding-top:10px;
    padding-bottom: 20px;
    background-color: #3F5A65; /*antes #333 */
    color: #e8e8e8;
    font-size: 24px;
}

.copy {
  font-family: 'Carisma-Light';
  font-size: 20px;  
  text-align:left;
  font-style:normal;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}


.item-direccion {
  line-height: 32px;
   font-size: 28px;
   text-align: right;
   padding-left: 60px;
}

.item-contacto {
  margin-bottom:20px;
  text-align: right;
  font-size: 24px;
}


.detalle-contacto-telefono {
  line-height: 48px;
}

.detalle-contacto-fax {
  line-height: 50px;

}

.detalle-contacto-correo {
  line-height: 33px;
}


/*Share*/
#twitter.sharrre,
#facebook.sharrre,
#google.sharrre, 
#pinterest.sharrre
{
  float: left;
  margin:0 4px;
  text-align: center;


  width:27px;
  height:48px;
  border:1px solid #7f7969;
}

#twitter.sharrre a,
#facebook.sharrre a,
#google.sharrre a, 
#pinterest.sharrre a
{
  text-decoration: none;
  color:#555;
}

#twitter.sharrre .count,
#facebook.sharrre .count,
#google.sharrre .count, 
#pinterest.sharrre .count
{
  background:#fff;
  color:#333;
  font-size: 10px;
  font-style: normal;
}

#twitter.sharrre .share,
#facebook.sharrre .share,
#google.sharrre .share, 
#pinterest.sharrre .share
{
  padding:0px;
  width: 27px;
}

#twitter.sharrre .share:active,
#facebook.sharrre .share:active,
#google.sharrre .share:active,
#pinterest.sharrre .share:active
{
  box-shadow:inset 0 5px 5px rgba(0,0,0,.5); 
}



.contenthover { padding:20px 20px 10px 20px; }
.contenthover, .contenthover h3, contenthover a { color:#fff; }
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; }
.contenthover a.mybutton { 
    display:block; float:left; padding:35px 10px; background:#26bd9e; color:#fff; 
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
  /*  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;  */}
.contenthover a.mybutton:hover { background:#26bd9e }


.caja-campeonato {
  width: 150px;
  height: 150px;
  background: #26bd9e; /*verde brillante */
  background: #162a34; /* azul */
  
  background: #534522; /* dorado */
  background: #241838; /* lila */
  background: #4e4956;
  background: #1b421b; /* verde oscuro */
  background: #532222; /* morado */
  background: #3c9632;

/*  border:3px solid #7f7969;*/
font-size: 20px;

}



.fila-campeonato {
  margin-left: 20px;
  margin-top: 20px;
  padding-top:20px;
  padding-bottom: 40px;
  font-family: 'Carisma-Light';
font-style: normal;
font-size: 18px;

}

.campeonato {
  /*margin-left: 30px;*/
}


.fecha-campeonato {
  color: #FFF;
  padding-top: 30px;
}


.nombre-campeonato {
  color: #7F7969;
  color: #fff;
  font-weight: bold;
  margin: 0px auto;
  padding-top: 30px;

}





