@font-face {font-family: 'Carisma-Light';src: url('Fonts/245754_0_0.eot');src: url('Fonts/245754_0_0.eot?#iefix') format('embedded-opentype'),url('Fonts/245754_0_0.woff') format('woff'),url('Fonts/245754_0_0.ttf') format('truetype');}

body {
	background: #7f7969;
	color: #e8e8e8;
}

.menu {
	font-family: 'Carisma-Light';
	margin-top:90px;
	font-size:15px;
	font-weight: bold;
	/*float: right;*/
}



#header {
	border-bottom:2px solid #222;
	height:150px;
	background-color: #000;
}

.scroller {
	height:460px;
	width:100%;
	background: url(../img/barra.jpg) no-repeat ;
}

.seccion {
	border-top: 1px solid #222;
	margin-top:10px;
}

.seccion h2 {
	font-family: 'Carisma-Light';
	font-size:18px;	
}


h1 {
		font-family: 'Carisma-Light';
		font-size:42px;
		/*background: #990100;*/
}

#footer {
	border-top:2px solid #222;
	height:150px;
	background-color: #333;
  margin-top:50px;
  width: 100%;
/*  position: absolute;
  left: 0;
  bottom: 0;*/
}


.foto img {
   padding:10px;
   border:1px solid #7f7969;
   background-color:#fff;
   margin-top:20px;
   margin-bottom:10px;
}



.ingredientes h4 {
    font-style: italic;
    margin:0;
}


.ingredientes ul {
    margin: 0;
}
.ingredientes li {
    list-style: none;
    margin:0;
}

.instrucciones {
    margin-top:20px;
}

.instrucciones h4 {
    font-style: italic;
    font-family: 'Carisma-Light';
    background: #990100;
    color: #e8e8e8;
}


.caja, .info, .ingredientes, .caja-peque {
  background: #f6f6f6;
    color:#333;
}



.ingredientes, .elaboracion {
      padding-bottom: 20px;
      margin: 0;

}

.info {

  color:#333;

  text-align: left;
  padding: 10px;
}

.caja {
    margin-top:20px;
    /*margin-left:0;*/
    margin-bottom: 20px;
    padding:0;
    padding-bottom: 10px;

    text-align: center;

    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;  
    font-size:14px;

    -moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 5px 5px 2px #333;    



}

.linea {
  border-bottom: 1px solid #333;
  padding-bottom: 10px;
  margin-top:10px;
}


.encabezado {
  /*background: #333;*/
  color:#f6f6f6;
  font-family: 'Lobster Two';
  font-style: italic;
}



.caja h1 {

    font-family: 'Lobster Two';
    font-style: italic;
    font-weight: 700;
    margin-bottom: 0px;
}


.caja h3{
  font-family: 'Lobster Two';
  font-style: italic;
  color:#333;
  font-size: 19px;
}

.caja a {
  text-decoration: none;
}


.crop { width: 210px; height: 150px; overflow: hidden; }
.crop img { width: 200px; height: 150px; margin: 10px 0 10px 10px; }


.etiquetas a {
    background: none repeat scroll 0 0 #0088CC;
    color: #FFFFFF;
    font-family: 'Voltaire';
    font-style: normal;
    padding: 3px;
    text-decoration: none;
    margin-right: 3px;
}

.etiquetas a:hover {
    background: none repeat scroll 0 0 #fff;
    color: #0088cc;
}


.caja-coctel-aleatorio {
  margin-top: 0;

}

.tag-cloud {

  margin: 0;
  margin-left: 15px;
  background: #F6F6F6;
  padding-top:5px;
  padding-bottom: 5px;
  font-family: 'Voltaire';
  font-size:24px;
  font-style: normal;
}

.tag-cloud a:hover {
  background: #0088CC;

}


.titular {
    padding-top:10px;
    padding-bottom: 20px;
    background-color: #3F5A65; /*antes #333 */
    color: #e8e8e8;
    font-size: 24px;
}

.copy {
  font-family: 'Carisma-Light';
  font-size: 20px;  
  text-align:left;
  font-style:normal;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
}


.item-direccion {
  line-height: 32px;
   font-size: 28px;
   text-align: right;
   padding-left: 60px;
}

.item-contacto {
  margin-bottom:20px;
  text-align: right;
  font-size: 24px;
}


.detalle-contacto-telefono {
  line-height: 48px;
}

.detalle-contacto-fax {
  line-height: 50px;

}

.detalle-contacto-correo {
  line-height: 33px;
}


/*Share*/
#twitter.sharrre,
#facebook.sharrre,
#google.sharrre, 
#pinterest.sharrre
{
  float: left;
  margin:0 4px;
  text-align: center;


  width:27px;
  height:48px;
  /* los siguientes atributos son para mostrar el contaje  */
  /*height:48px;
  border:1px solid #7f7969;*/ 
}

#twitter.sharrre a,
#facebook.sharrre a,
#google.sharrre a, 
#pinterest.sharrre a
{
  text-decoration: none;
  color:#555;
}

#twitter.sharrre .count,
#facebook.sharrre .count,
#google.sharrre .count, 
#pinterest.sharrre .count
{
  background:#fff;
  color:#333;
  font-size: 10px;
  font-style: normal;
}

#twitter.sharrre .share,
#facebook.sharrre .share,
#google.sharrre .share, 
#pinterest.sharrre .share
{
  padding:0px;
  width: 27px;
}

#twitter.sharrre .share:active,
#facebook.sharrre .share:active,
#google.sharrre .share:active,
#pinterest.sharrre .share:active
{
  box-shadow:inset 0 5px 5px rgba(0,0,0,.5); 
}


.contenthover { padding:20px 20px 10px 20px; }
.contenthover, .contenthover h3, contenthover a { color:#fff; }
.contenthover h3, .contenthover p { margin:0 0 10px 0; line-height:1.4em; padding:0; }
.contenthover a.mybutton { 
    display:block; float:left; padding:35px 10px; background:#26bd9e; color:#fff; 
    margin-left: 5px;
    margin-top: 5px;
    font-weight: bold;
  /*  -moz-border-radius: 4px; -webkit-border-radius: 4px; border-radius: 4px;  */}
.contenthover a.mybutton:hover { background:#26bd9e }


.caja-campeonato {
  width: 150px;
  height: 150px;
  background: #26bd9e; /*verde brillante */
  background: #162a34; /* azul */
  
  background: #534522; /* dorado */
  background: #241838; /* lila */
  background: #4e4956;
  background: #1b421b; /* verde oscuro */
  background: #532222; /* morado */
  background: #3c9632;

/*  border:3px solid #7f7969;*/
font-size: 20px;

}



.fila-campeonato {
  margin-left: 20px;
  margin-top: 20px;
  padding-top:20px;
  padding-bottom: 40px;
  font-family: 'Carisma-Light';
font-style: normal;
font-size: 18px;

}

.campeonato {
  /*margin-left: 30px;*/
}


.fecha-campeonato {
  color: #FFF;
  padding-top: 30px;
}


.nombre-campeonato {
  color: #7F7969;
  color: #fff;
  font-weight: bold;
  margin: 0px auto;
  padding-top: 30px;

}

/** inscripciones **/
.seccion-caja {
     font-family: 'Carisma-Light';
   font-style: normal;
     text-align: left;
     font-size: 20px;
     padding-left: 20px;
     margin-top: 40px;

}

.inscripcion-caja {
   background: #bfb8a6;
   font-family: 'Carisma-Light';
   font-style: normal;
     text-align: left;
     color: #333;
     font-size: 24px;
     margin-left: 60px;
     margin-top: 20px;


}

.inscripcion-cuota {
  text-align: right;
  padding: 10px;
  color: #fff;
  background: #3F5A65;
  font-weight: bold;


}


.inscripcion-estudiante, .inscripcion-profesional {
    font-weight: bold;
    font-size: 24px;
    padding: 10px;
    color: #fff;
  }

.inscripcion-estudiante {
   background: #26bd9e; /*verde brillante */
}

.inscripcion-profesional {
    background: #534522;
}


.inscripcion-caja ul {
  padding-left: 10px;
  padding-top: 20px;
}

.inscripcion-caja ul li {
  padding-bottom: 20px;
}

.inscripcion-caja .spacer {
  padding-bottom: 20px;
}


.boton-formulario {
  text-align: center;
}

.boton-formulario a {
  background: #3c9632;
  padding: 10px;
  text-decoration: none;
  color: #fff;
}

.boton-formulario a:hover {
    background: #1b421b;
}


.inscripcion-contacto{
  color: #333;
  width: 65%;
  padding: 10px;
  background: #bfb8a6;
  margin: 0 auto;
  line-height: 30px;
  text-align: left;
  font-size: 14px;

}


/*
.caja-curso {
  width: 100%;
  height: 150px;
  background: #3c9632;
  font-size: 20px;
}*/

.curso a {
  width: 100%;
  height: 150px;
  text-decoration: none;
  background: #3c9632;
  display: block;
  font-size: 20px;

}

.curso a:hover {
  background: #532222; /* morado */
  color: #000;
}

.fila-curso {
  margin-left: 12px;
  margin-top: 0px;
  margin-top:20px;
  font-family: 'Carisma-Light';
font-style: normal;
font-size: 18px;

}


.fecha-curso {
  color: #FFF;
  padding-top: 30px;
}


.nombre-curso {
  color: #7F7969;
  color: #fff;
  font-weight: bold;
  margin: 0px auto;
  padding-top: 30px;

}

.offset0 {
  margin-left: 12px;
}


.titulo-cursos {
  font-size: 24px;
  color: #333;
  text-align: center;
  font-family: 'Carisma-Light';
  font-style: normal;
  font-weight: bold;
  margin-top: 20px;
  padding-left: 12px;

}

.caja-socio {
  height: 100%;
}

.socio a {
  width: 100%;
  height: 220px;
  text-decoration: none;
  /*background: #3c9632;*/
  display: block;
  font-size: 20px;

}

.socio a:hover {
  /*background: #532222; /* morado */

  color: #000;
}

.fila-socio {
  margin-left: 12px;
  margin-top: 0px;
  margin-top:20px;
  font-family: 'Carisma-Light';
font-style: normal;
font-size: 18px;

}


.nombre-socio {
  background: #000;
  color: #fff;
  float:left;
  height:20%;
  width:100%;
  padding-top: 20px;

}

.imagen-socio {
height: 80%;
float: left;
width: 100%;
overflow: hidden;
background: transparent;
}


.imagen-revista {
    height: 160px;
    overflow: hidden;
}

.imagen-revista img {
  margin: 10px 0px 10px 10px;
}

.titulo-revista {
  background: #000;
  color: #fff;
  text-align: center;
  font-family: 'Voltaire';
  font-style: normal;
  font-size: 18px;
  padding:10px;
  line-height: 24px;
}

.caja-revista {
  padding-bottom: 0px;
  background: #fff;
}


.cuadro-honor {
  font-family: 'Carisma-Light';
  font-style: normal;
  margin-top: 40px;
  margin-left: 80px;
  padding-bottom: 60px;
}

.cuadro-honor .fecha{
   font-family: 'Lobster Two';
   font-size: 28px;
   text-align: center;
   padding-bottom: 20px;
   padding-top: 20px;
}

.fecha .lugar {
  text-align: right;
}


.cuadro-honor ul {
    list-style-type: none;  
    margin: 0;
     font-size: 30px;
}

.cuadro-honor .puesto, .cuadro-honor .nombre {
  float:left;
}

.cuadro-honor .nombre {
  width: 60%;
  line-height: 60px;
  text-align: left;
  margin-left: 30px;
  font-weight: bold;
  
}

.cuadro-honor .puesto {
  width: 80px;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #e8e8e8;
  font-family: 'Libre Baskerville';
}



.cuadro-honor .circulo {
   width:60px;
   height:60px;
   overflow:hidden;
   border-radius:38px;
   border:2px solid #7f7969;
   display:block;
   backrground-size: 100% auto; 
   margin: 0 auto;    
   background: #26bd9e;
}

.cuadro-honor .finalista {
  font-weight: bold;
  font-size: 28px;
  background: #333;
}

.cuadro-honor .circulo-finalista {
   width:40px;
   height:40px;
   overflow:hidden;
   border-radius:38px;
   border:2px solid #7f7969;
   display:block;
   backrground-size: 100% auto; 
   margin: 0 auto;    
   background: #333;
}


.cuadro-honor li {
  height:80px;
  border-bottom: 1px solid #D0D5CB; 
  margin-top: 20px;
}

.cuadro-honor li.ultimo {
  border: 0;
}


.cuadro-honor .foto-participante {
  width: 60px;
  height: 60px;
  background-color: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 4px;
  float: right;
   
}


.cuadro-honor .foto-participante .recorta {
  width: 60px;
  height: 60px;
  overflow: hidden;
   
}


.cuadro-honor .mencion {
  width: 30%;
  line-height: 60px;
  text-align: left;
  margin-left: 0px;
  font-weight: bold;
  font-size: 26px;
  float: left;

  
}

.cuadro-honor .nombre-mencion {
  width: 65%;
  line-height: 60px;
  text-align: right;
  margin-left: 30px;
  font-weight: bold;
  font-size: 28px;
  float: right;
  
}


.indice {
  text-align: center;
  padding: 20px;
  font-style: normal;
  font-family: 'Carisma-Light';
}

.indice a {
  padding:5px;
  background: #bfb8a6;
  border:1px solid #333;
  color: #3F5A65;
  font-weight: bold;
  text-decoration: none;
}

.indice a:hover {
  color: #bfb8a6;
  background: #3F5A65;
}


.bebidas {
  font-family: 'Carisma-Light';
  font-style: normal;
  font-size: 18px;
  text-align: left;
  padding-left: 20px;
  border-bottom: 1px solid #bfb8a6;
  padding-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.bebidas .nombre, .bebidas-iframe .nombre{
  font-weight: bold;
  font-size: 24px;
  color: #3F5A65;
}


.bebidas-iframe {
  font-family: 'Carisma-Light';
  font-style: normal;
  background: #f6f6f6;
  color:#333;
  font-size: 18px;
  text-align: left;
}



/*
 * WP-Paginate - WordPress Pagination Function
 * Revision: $Id: wp-paginate.css 286636 2010-09-08 00:11:23Z emartin24 $
 * Copyright (c) 2010 Eric Martin http://www.ericmmartin.com/projects/wp-paginate/
 */
.wp-paginate {padding:0; margin:10px 0 10px 0; text-align: center;}
.wp-paginate li {display:inline; list-style:none;}
.wp-paginate a {background:#ddd; border:1px solid #ccc; color:#666; margin-right:4px; padding:3px 6px; text-align:center; text-decoration:none;}
.wp-paginate a:hover, .wp-paginate a:active {background:#ccc; color:#888;}
.wp-paginate .title {color:#555; margin-right:4px;}
.wp-paginate .gap {color:#999; margin-right:4px;}
.wp-paginate .current {color:#fff; background:#5f87ae; border:1px solid #89adcf; margin-right:4px; padding:3px 6px;}
.wp-paginate .page {}
.wp-paginate .prev, .wp-paginate .next {}

/* style overrides for comments pagination */
.wp-paginate-comments {}
.wp-paginate-comments li {}
.wp-paginate-comments a {}
.wp-paginate-comments a:hover, .wp-paginate-comments a:active {}
.wp-paginate-comments .title {}
.wp-paginate-comments .gap {}
.wp-paginate-comments .current {}
.wp-paginate-comments .page {}
.wp-paginate-comments .prev, .wp-paginate-comments .next {}



/** Ribbons */
.ribbon-wrapper-green {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: relative;
  top: -3px;
  right: -138px;
  margin-bottom: -90px;
}
 
.ribbon-green {
  font: bold 10px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #BFDC7A;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BFDC7A), to(#8EBF45)); 
  background-image: -webkit-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:    -moz-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:     -ms-linear-gradient(top, #BFDC7A, #8EBF45); 
  background-image:      -o-linear-gradient(top, #BFDC7A, #8EBF45); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
 
.ribbon-green:before, .ribbon-green:after {
  content: "";
  border-top:   3px solid #6e8900;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}
 
.ribbon-green:before {
  left: 0;
}
.ribbon-green:after {
  right: 0;
}


.ribbon-blue {

  font: bold 10px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #10a3a3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#10a3a3), to(#1c87d9)); 
  background-image: -webkit-linear-gradient(top, #10a3a3, #1c87d9); 
  background-image:    -moz-linear-gradient(top, #10a3a3, #1c87d9); 
  background-image:     -ms-linear-gradient(top, #10a3a3, #1c87d9); 
  background-image:      -o-linear-gradient(top, #10a3a3, #1c87d9); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);


}



.ribbon-orange {

  font: bold 10px Sans-Serif;
  color: #333;
  text-align: center;
  text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background-color: #ff6600;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff6600), to(#ff8844)); 
  background-image: -webkit-linear-gradient(top, #ff6600, #ff8844); 
  background-image:    -moz-linear-gradient(top, #ff6600, #ff8844); 
  background-image:     -ms-linear-gradient(top, #ff6600, #ff8844); 
  background-image:      -o-linear-gradient(top, #ff6600, #ff8844); 
  color: #6a6340;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);


}


.resultado {

  border: 1px solid #7F7969;

}

.resultado .cuadro {
  padding:10px;
}

.resultado h2 {
  background: #80a3b2;
  margin: 0;
  padding: 10px;
  color:#fff;
}


.campeonato .fecha{
   font-family: 'Lobster Two';
   font-size: 28px;
   text-align: center;
   padding-bottom: 20px;
   padding-top: 20px;
}

.campeonato img {
  border: 1px solid #D0D5CB;
  padding: 5px;
  background: #fff;
}


.form-busqueda {
  margin-left: 15px;
  margin-top: 15px;

}


.caja-cargo {
    height:150px;
    background: #26BD9E;
    font-family: 'Carisma-Light', sans-serif;
    font-style: normal;
    box-shadow: 5px 5px 2px #333333;
}

.caja-cargo  .nombre {
    height: 70%;
    font-weight: bold;
    font-size: 20px;
    color: #333;
    line-height: 500%;
}

.caja-cargo .cargo {
    background: #000;
    height: 30%;
    color: #fff;
    line-height: 250%;
    font-size: 14px;
}

.fila-junta {
    margin-left: 40px;
    margin-top: 40px;
}


h1.postTitle {
  /*background: #3F5A65;*/
  padding:5px 5px 5px 0px;
  font-size: 32px;
  border-bottom: 1px solid #532222;
}

.postTitle a {
  text-decoration: none;
  color: #532222;
}


.postTitle .date {
  font-family: 'Voltaire';
  color: #333;
  float:right;
  font-size: .5em;
}

.post {
  padding-top:10px;

}

.caja-post {
  margin-top: 30px;
  font-family: 'Carisma-Light';
  font-style: normal;
  font-size: 20px;
  color: #333;
  text-align: left;
  min-height: 300px;
}



.aligncenter, img.aligncenter { 
  clear: both; 
  display: block; 
  margin-left: auto; 
  margin-right: auto; 
  margin-top: 40px;
  margin-bottom: 40px;
}


.seccion-noticias {
  font-size: 1em;
  font-family: 'Carisma-Light';

}

.seccion-noticias .noticia {
  padding:3px 0px 0px 0px;
  /*border-bottom: 1px solid #532222;*/
  float:left;
  width: 100%;
}

.noticia .titulo {
  text-decoration: none;
  color: #532222;
  padding-left: 4px;
  float:right;
  margin-top: -1px;

}

.noticia .titulo a {
  text-decoration: none;
  color: #532222;
}

.noticia .titulo a:hover {
  text-decoration: none;
  color: #fff;
  background: #0088CC;

}


.seccion-noticias .date {
  font-family: 'Voltaire';
  color: #333;
  float:left;
  font-size: .8em;
}


#holder {
    min-height: 100%;
    position: relative;
  }